.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 600px;
    height: 500px;
    margin: 3rem;
    border: 1px solid darkcyan;
    border-radius: 1rem;
}