.articleCard {
    margin: 0 auto;
    width: auto;
    height: auto;
    border-radius: .5rem;
    margin: 1rem;
    background-color: transparent;
    color: white;
    box-shadow: 0 0 10px #21f3d0, 0 0 1.5px #21f3d0;
}
.articleCard:hover{
    box-shadow: 0 0 10px #21f3d0, 0 0 15px #21f3d0, 0 0 30px #21f3d0;
}
.linkCard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
}
.img {
    width: 25rem;
    height: 15rem;
    border-radius: .5rem;
    border-bottom-left-radius: 4.5rem;
    border-bottom-right-radius: 4.5rem;
    margin-bottom: 1rem;
}
.name {
    color:white;
    text-shadow: 0 0 5px #21f3d0, 0 0 15px red, 0 0 30px red, 0 0 50px red;
}
.buttonCard {
    width: 8rem;
    height: 2.4rem;
    margin: 1.5rem 0;
    font-size: 1rem;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    color: white;
    box-shadow: 0 0 5px white, 0 0 10px white;
    background-color: transparent;
}