.detailsContainer{
    height: auto;
    padding-bottom: 4rem ;
    background-color: #000;
    color: white;

}
.card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 2rem;
    width: 80%;
    height: auto;
    margin: 0 auto;
    box-shadow:inset 0 0 10px #548CFF, 0 0 20px #548CFF, 0 0 30px #548CFF, 0 0 60px #548CFF;
    border-radius: 1rem;
}
.title{
    width: auto;
    margin: 0 auto;
    text-align: center;
    padding-top: 2rem;
    color:white;
    text-shadow: 0 0 10px #548CFF, 0 0 20px #548CFF, 0 0 30px #548CFF, 0 0 60px #548CFF;
    position: relative;
    top: 1.5rem;
    font-size: 2.5rem;
    background-color: transparent;
}
.imgDetails{
    width: 27rem;
    height: 20rem;
    border-radius: 1rem;
    border-bottom-right-radius: 20rem;
}
.containerCardDetails{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 15rem;
    width: 50%;
}
.containerImg {
    width: 50%;
}

.titleDetails{
    font-size: 2rem;
    color: white;
    text-shadow: 0 0 10px #21f3d0, 0 0 20px #21f3d0;
}
.titlePlatforms{
    font-size: 1.3rem;
    margin: 1rem 0;
    color: #21f3d0;
}
.containerDivision{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}
.containerPlaforms{
    width: 50%;
    height: auto;
}
.containerGenre{
    width: 40%;
}
.biñeta{
    list-style-type: circle;
}

.loading{
    width: 20rem;
    height: 20rem;
    margin: 5rem auto;
    background-image: url('../../Img/Loading.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.subTitles{
    color:#21f3d0;
}